# Creating, Reading and Writing

In [8]:
pip install pandas

Requirement already satisfied: pandas in d:\workspace_bibek\python-programming\.venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in d:\workspace_bibek\python-programming\.venv\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\workspace_bibek\python-programming\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\workspace_bibek\python-programming\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\workspace_bibek\python-programming\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in d:\workspace_bibek\python-programming\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

**DataFrame**
A dataframe is a table. It contains an array of individual entries, each of which has a certain value.

In [10]:
df = pd.DataFrame({'Yes': [50, 70], 'No': [12, 34]})
df

   Yes  No
0   50  12
1   70  34

Assigning index to row labels.

In [14]:
pd.DataFrame({'Name': ["Bibek", "Deepak", "Neeket"], 
              'Age': [20, 22, 32]}, 
              index=['Row1', 'Row2', 'Row3'])

        Name  Age
Row1   Bibek   20
Row2  Deepak   22
Row3  Neeket   32

**Series** is a sequence of data values. In essence, it is a single column of a DataFrame.

In [15]:
pd.Series([1, 2, 4, 1, 5])

0    1
1    2
2    4
3    1
4    5
dtype: int64

**Reading data Files**

In [35]:
data = pd.read_csv("data1.csv", index_col=0)
print("Data Size: ", data.shape)
data.head()

Data Size:  (1000, 15)

,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
student_id,,,,,,,,,,,,,,,
S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4