## Summary Functions and Maps
Restructure the data in some useful way.

In [ ]:
pip install pandas

In [7]:
import pandas as pd
data = pd.read_csv("data1.csv")
data.head()

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4

In [9]:
data.age.describe() # This method generates a high-level summary of the attributes of the given column.

count    1000.0000
mean       20.4980
std         2.3081
min        17.0000
25%        18.7500
50%        20.0000
75%        23.0000
max        24.0000
Name: age, dtype: float64

In [10]:
data.diet_quality.describe() # For String Data

count     1000
unique       3
top       Fair
freq       437
Name: diet_quality, dtype: object

In [11]:
data.attendance_percentage.mean() # This method calculates the mean of the given column.

np.float64(84.1317)

In [12]:
data.diet_quality.unique() # This method returns the unique values of the given column.

array(['Fair', 'Good', 'Poor'], dtype=object)

In [13]:
data.gender.value_counts() # This method counts the number of occurrences of each unique value in the given column.

gender
Female    481
Male      477
Other      42
Name: count, dtype: int64

**Maps**
For a function that takes one set of values and "maps" them to another set of values. In data science, we often have a need for creating new representatinos from existing data, or for transforming data from the format it is in now to the format that we want it to be in later.

In [15]:
data_age_mean = data.age.mean()
data.age.map(lambda x: x - data_age_mean)

0      2.502
1     -0.498
2      0.502
3      2.502
4     -1.498
       ...
995    0.502
996   -3.498
997   -0.498
998    3.502
999   -1.498
Name: age, Length: 1000, dtype: float64

In [16]:
def remean_age(row):
    row.age = row.age - data_age_mean
    return row

# This method applies the remean_age function to each row of the DataFrame.
data.apply(remean_age, axis="columns")

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,2.502,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,-0.498,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,0.502,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,2.502,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,-1.498,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,S1995,0.502,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,-3.498,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,-0.498,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,3.502,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,-1.498,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

Note that map() and apply() return new, transformed Series and DataFrames, respectively. They don't modify the original data they're called on.